annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
ecdsa==0.19.2
fastapi==0.135.3
idna==3.11
libsql==0.1.11
numpy==2.4.4
pandas==3.0.2
pyasn1==0.6.3
pydantic==2.12.5
pydantic_core==2.41.5
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-jose==3.5.0
python-multipart==0.0.24
rsa==4.9.1
six==1.17.0
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
