aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
alabaster==1.0.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
attrs==26.1.0
babel==2.18.0
certifi==2026.2.25
charset-normalizer==3.4.7
docutils==0.22.4
ecdsa==0.19.2
fastapi==0.135.3
frozenlist==1.8.0
idna==3.11
imagesize==2.0.0
Jinja2==3.1.6
libsql-client==0.3.1
MarkupSafe==3.0.3
multidict==6.7.1
numpy==2.4.4
packaging==26.0
pandas==3.0.2
propcache==0.4.1
pyasn1==0.6.3
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.20.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-jose==3.5.0
python-multipart==0.0.24
requests==2.33.1
roman-numerals==4.1.0
rsa==4.9.1
six==1.17.0
snowballstemmer==3.0.1
Sphinx==9.1.0
sphinx-press-theme==0.8.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
yarl==1.23.0
